/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

section {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0e6dda;
    color: #fff;
    padding: 10px 0;
}

body{
    background-color: #fff;
}

html{
    background-color: blue;
}