#box-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#box-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1000px;
}

#card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}